// colors
$white: #fff;
$orange: #f1991b;
$gray: #343a40;

// fonts
$font-size-normal: 24px;
$font-size-small: 18px;

// sizes
$footer-height: 80px;

// indents
$indent-small: 24px;
$indent-normal: 32px;