@import '../global.scss';

.footer {
  color: $white;
  // height: $footer-height;
  background-color: $gray;
  text-align: center;
  .copyright {
    font-size: $font-size-small;
  }
  .social-networks {
    text-align: center;
    padding: 24px;
    a {
      color: $white;
      padding: 0 8px;
    }
  }
}