@import '../global.scss';

h6 {
  color: $white;
  padding: 24px 0 0;
  margin-bottom: 0;
}

.topmenu.navbar-dark .navbar-nav .nav-item.active {
  color: $white;
  &::after {
    background: $orange none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin-top: 15px;
    width: 35%;
    margin:auto;
}
}